body {
    flex: 1;
}

.big-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto; 
    padding: 16px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

li {
    padding: 16px;
}

.content {
    margin-bottom: 20px;
}

.web-title {
    background-color: #1F2937;
    padding: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 50px;
    height: 300px;
}

.left, .right {
    flex: 1;
    width: 40%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.left-text {
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    text-align: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #808080; 
    color: #E5E7EB;
    padding: 10px;
}

button {
    background-color: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    box-sizing: border-box;
    border: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
}

.info-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.info-list li {
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #E5E7EB;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.writer {
    font-size: 18px;
    text-align: end;
    margin-right: 400px;
    padding-top: 0;
}

.blue-box {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}